/* GENERALI */

/* 

Font principale: Montserrat
Font slogan: Sofia

*/


*{
    margin:0;
    padding:0;
    font-family:Montserrat-Regular, sans-serif;
}

a:hover{
    text-decoration:none;
}

p{
    font-size: 12pt;
}

h2{
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Generali - testo */
.center{
    text-align:center;
}

.right{
    text-align:right;
}

.bold{  /* Bold del font principale */
    font-family:Montserrat-SemiBold, sans-serif;
}

.italic{    /* Corsivo del font principale */
    font-family:Montserrat-Italic, sans-serif;
}

.text-white{    /* Bianco per i testi */
    color:white !important;
}


.text-big{
    font-size:14pt;
}

.thumbnail{
    border:none !important;
}

main{
    min-height:1000px;
}

main article{
    padding:35px 0 50px 0;
}

main h1{
    margin-bottom:35px;
}


.shadow,
.shadow-static{
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow:         0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    transition:ease all 0.3s;
}

.shadow:hover{
    -webkit-box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:    0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow:         0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}


.border-red{
    border:solid 1px;
    border-color:#d9534f;
    
}

.border-green{
    border-color:#5cb85c;
}

.border-blue{
    border-color:#337ab7;
}

.red{
    color:#d9534f;
}

.green{
    color:#5cb85c;
}

.blue{
    color:#337ab7;
}

.gray{
    color: #757575;
}

.bg-light{
    background-color:rgba(255,255,255,0.9);
}

.no-padding{
    padding-left:0;
    padding-right:0;
}

.top-20{
    margin-top:20px;
}


@media all and (max-width:768px){   /* Sidebar versione mobile */
    #sidebar{
        display:none;
    }
}



/* SIDEBAR */

.nav-sidebar.pull-right { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
    margin-right: 10px;
}
.nav-sidebar.pull-right a {
    color: #757575 !important;
    transition: all 0.08s linear;
    border-radius: 4px 0 0 4px; 
    font-size: 11pt;
    padding: 3px;
}
.nav-sidebar .active a { 
    cursor: pointer;
    color: #337ab7 !important;
    font-weight: bold;
}

#sidebar{
    font-size: 11pt;
}


.sidebar-fixed{
    position: fixed;
    top:80px;
}

/* --------------------------- HEADER --------------------------- */


header{
    background-image:url(../images/banner7.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:200px;
    margin-top:-20px;
}


header>div{
    padding-top:60px;
}

#header-logo{
    padding-right:0;
}

#header-text>h1{    /* Titolo UTE */
    margin-top:12px;
}

#header-text{
    padding-left:150px;
}

.slogan{    /* L'ute ti colora la vita */
    font-family:Sofia-Regular, sans-serif;
    font-size:15pt;
}



/* --------------------------- MENU --------------------------- */

.navbar{
    padding-right:0;
    padding-left:0;
    background-image:url(../images/menu.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:0;
    border-right:none;
    border-left:none;
}

.navbar-nav > li > a,   /* Altezza fissa del menu */
.navbar-brand{
    height:60px;
}

.navbar-toggle{ /* Burger Menu */
    margin-top:13px;
}

.navbar-brand>img{
    width:50px;
    margin-top:-11px;
    filter:brightness(100);
    display:inline-block;
}

.nav>li>a{  /* Voci del menu */
    color:white !important;
    font-size:13pt;
    padding-top:18px;
}

.navbar-nav .active>a,  /* Voce selezionata e apertura del sottomenu */
.navbar-nav .open>a{
    color:black !important;
}

.navbar .badge{ /* Numeretto delle news */
    background-color:white;
    color:black;
}

@media all and (max-width:768px){
    .navbar .dropdown-menu a{
        font-size:13pt;
        color:white !important;
        margin-left:20px;
    }
}


/*
.hide{
    display:none;
}

.show{
    display:inline !important;
}

*/


@media all and (min-width:768px){
    .hide{
        display:none;
    }

    .show{
        display:inline !important;
    }
}

@media all and (max-width:767px){
    .hide{
        display:inline !important;
    }
    
    .show{
        display:none !important;
    }
}


.fixed-menu{
    position:fixed;
    z-index:999;
}

.spacer{    /* Spazio aggiuntivo per il menu fixed */
    height:83px;
}


main li{
    font-size:12pt;
    margin-bottom:5px;
}

main ul{
    list-style-type:none;
}



/* --------------------------- FOOTER --------------------------- */

footer{
    background-color:#1D1F21;
    padding:20px 0;
}

footer ul{
    list-style-type:none;
}

footer a{
    color:#5999d0;
}

@media all and (max-width:992px){   /* Footer responsive */
    footer>div:first-child,
    footer>div:nth-child(2){
        margin-bottom:20px;
    }
}





/* --------------------------- HOMEPAGE --------------------------- */

.alert>div:first-child,
.alert>div:nth-child(2){
    margin-bottom:10px;
}


#chi-siamo{
    background-image:url(../images/lettere.jpg);
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    padding:50px 0;
}



#corsi .fa{
    margin-top:20px;
}

#corsi h1{
    margin:35px 0;
}

#sponsor div>div{
    margin-bottom:20px;
}

#map{
    height:400px;
}

#dove-siamo>div:nth-child(3)>div:first-child{
    padding-top:30px;
}


@media all and (min-width:992px){   /* "Dove siamo" versione desktop */
    #dove-siamo>div:nth-child(3){   
        height:400px;
    }
    
}


@media all and (max-width:992px){   /* "Dove siamo" versione mobile */
    #dove-siamo>div:nth-child(3){   
        height:auto;
    }    
    
    #dove-siamo>div:nth-child(3)>div:last-child{
        padding-bottom:30px;
    }
}



#dove-siamo{
    background-image:url(../images/mappa4.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:top;
}



/* --------------------------- CORSI --------------------------- */

.table-courses{
    font-size:12pt;
}

.btn-group{
    margin-bottom:25px;
}

details>table{
    margin-top:15px;
}

details>summary{
    cursor:pointer;
    padding:5px;
    outline:none;
}

details[open]>summary{
    background-color:#337ab7;
    color:white;
    font-weight:bold;   
}


/* --------------------------- SINGOLO CORSO --------------------------- */


/* --------------------------- NEWS --------------------------- */

#lista-news>div:nth-child(2)>div:nth-child(2),
#lista-news>div:nth-child(2)>div:nth-child(3),
#lista-news>div:nth-child(2)>div:nth-child(4){
    box-shadow:         0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    color: #337ab7;
}

#lista-news>div:nth-child(2)>div:nth-child(n+5){
    color: #757575;
}

#lista-news>div:nth-child(2)>div{
    margin: 20px 0;
}


/* --------------------------- EVENTI --------------------------- */

#eventi>div:nth-child(2)>ul{
    border-left: solid 5px #337ab7;
    padding-left: 10px;
}

#eventi>div:nth-child(2)>div{
    margin-top: 50px;
}




/* --------------------------- INFO E CONTATTI --------------------------- */

@media all and (max-width:992px){
    #address{
        text-align: center;
    }
}
