/* GENERALI */

.gray{
    color: #757575;
}

p{
    font-size: 12pt;
}

h2{
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-big{
    font-size: 14pt;
}

.thumbnail{
    border: none !important;
}



@media all and (max-width:992px){
    #address{
        text-align: center;
    }
}


/* EVENTI */

#eventi>div:nth-child(2)>ul{
    border-left: solid 5px #337ab7;
    padding-left: 10px;
}

#eventi>div:nth-child(2)>div{
    margin-top: 50px;
}


/* NEWS */

#lista-news>div:nth-child(2)>div:nth-child(2),
#lista-news>div:nth-child(2)>div:nth-child(3),
#lista-news>div:nth-child(2)>div:nth-child(4){
    box-shadow:         0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    color: #337ab7;
}

#lista-news>div:nth-child(2)>div:nth-child(n+5){
    color: #757575;
}

#lista-news>div:nth-child(2)>div{
    margin: 20px 0;
}


